<footer class="bg-dark text-center p-4">
    <p class="h4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, voluptatibus perferendis atque sapiente impedit molestias unde a dolorum vitae, facilis animi ipsam deserunt, architecto autem. Aliquid consectetur illum neque quam.</p>
</footer>

<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
