<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">About</h1>
            <p class="d-flex justify-content-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dolores iusto fugit, blanditiis sit porro ullam dignissimos quam ducimus quo a, quidem id dolor non? Ipsum sed molestias aliquam optio. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi minima assumenda iusto impedit quo numquam inventore, veniam atque cupiditate deserunt voluptatem saepe, non asperiores repellendus. A soluta aliquid expedita nam!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus distinctio, quas molestiae cumque odit quos saepe in doloribus nesciunt dolor minima ad odio. Cumque omnis accusamus doloremque nesciunt libero suscipit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quia pariatur aut esse quam nostrum, similique quibusdam officia quas? Perspiciatis, voluptate. Ad totam harum aut possimus eveniet aspernatur amet accusantium.
            </p>
        </section>
    </main>
    <%- include ('partials/footer') %>
</body>
</html>